*
{
    padding: 0;
    margin: 0;
  }
  
  body
  {
   background-size: initial;
   background-repeat: no-repeat;
  }
  
  header
  {
    background-color:transparent;
    height: 4em;
  }
  
  .he
  {
    background-color: black;
    height: 4em;
  }
  
  .ima
  {
    margin-left: 40px;
    margin-top: 5px;
  }
  
  .carousel-item
  {
    float: left;
    margin-top: 36em;
    width: 150px;
  }
  
  .bar-tag
  {
    float: right;
    margin-top: 22px;
    margin-right: 40px;
  }
  
  .bar-tag a
  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 8px;
    margin-right: 4px;
  }
  
  .bar-tag a:hover
  {
    background-color: teal;
    color: black;
  }
  
  .login
  {
   float: right;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border: 2px solid white;  
   margin-top: 6%;
   margin-right: 5%;
   padding: 30px;
  }
/* sign up */
  .sign
  {
    float: right;
    border: 2px solid white;
    background-color: wheat;
    padding: 5px;
    margin-top: 30px;
    margin-right: 2%;
    width: 50%;
    height: 20%;
  }
  
  .terms
  {
    color: red;
  }

  /* districts */
  .container
  { 
    background-image: initial;
    margin-top: 42%;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  .p-box
  {
    background-color: #cccccc;
    border: 1px solid teal;
    width: 25%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    height: 38em;
  
  }

  .p-box h3
  {
    text-align: center;
  }
  
  /* district */
  .h1
  {
    text-align: center;
  }

  /* thiruvanathapuram */
  
  .th-cont
  {
    border: 2px solid black;
    background-color: wheat;
    color: black;
    width: 50%;
    float: right;
    margin-top: 10%;
    margin-right: 2%;
  }

  .box
  {
 
    margin-top: 39%;
  }

  .list
  {
    border: 1px solid black;
    width: 44%;
    float: left;
    padding: 10px;
    margin-left: 5%;
    height:35em;
  }



  footer
  {
    margin-top: 37%;
      background-color: #232323;
      text-align: center;
      height: 8em;
      color: white;
  
  }
  